:root {
    --green: #023B2C;
    --blue: #335c67;
    --red: #a60f2d;
}

p.subtitle {
    margin-top: 0.95em;
    margin-bottom: -0.05em;
}

.lead {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blue);
    text-align: right;
}

p {
    font-family: "Poppins";
}

.tab-pane>p {
    padding-top: 0em;
}

a {
    color: var(--red);
}

a:hover {
    color: var(--red);
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid var(--red);
    color: var(--red)!important;
}

.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid var(--red);
    color: var(--red)!important;
}

h1, h2, h3, h4, h5 {
    font-family: "Lato";
    color: var(--green);
    font-weight: bold;
}

caption, .table-caption {
    text-align: left!;
}

div.callout-tip.callout {
    background: #F2F0E6;
}

div.callout-tip.callout {
    font-family: "Poppins";
    border-left-color: var(--green);
}

div.callout-tip.callout-style-default>.callout-header {
    background-color: var(--green);
}

div.callout-tip.callout-style-default>.callout-header {
    color: white;!important
}

.btn-success {
    color: white;
    background-color: var(--green);
    border-color: var(--green);
}

.js-plotly-plot .plotly .modebar-btn {
    position: relative;
    font-size: 25px;
    padding: 3px 4px;
    height: 22px;
    cursor: pointer;
    line-height: normal;
    box-sizing: border-box;
}
