/* Edit these :root variables */
:root {
    --primary-color: #023B2C;
    --secondary-color: #335c67;
    --link-color: #a60f2d;
    --heading-font: "Lato"
    --body-font: "Poppins"
}

/* You don't need to edit the below content unless you want to
further customize your HTML report style */

p.subtitle {
    margin-top: 0.95em;
    margin-bottom: -0.05em;
}

.lead {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    text-align: right;
}

p {
    font-family: var(--body);
}

.tab-pane>p {
    padding-top: 0em;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color);
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid var(--link-color);
    color: var(--link-color)!important;
}

.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid var(--link-color);
    color: var(--link-color)!important;
}

h1, h2, h3, h4, h5 {
    font-family: var(--heading);
    color: var(--primary-color);
    font-weight: bold;
}

caption, .table-caption {
    text-align: left!;
}

div.callout-tip.callout {
    background: #F2F0E6;
}

div.callout-tip.callout {
    font-family: var(--body);
    border-left-color: var(--primary-color);
}

div.callout-tip.callout-style-default>.callout-header {
    background-color: var(--primary-color);
}

div.callout-tip.callout-style-default>.callout-header {
    color: white;!important
}

.btn-success {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.js-plotly-plot .plotly .modebar-btn {
    position: relative;
    font-size: 25px;
    padding: 3px 4px;
    height: 22px;
    cursor: pointer;
    line-height: normal;
    box-sizing: border-box;
}
