:root {
    --bs-link-color: #437a89;
    --bs-link-hover-color: #36616D
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: bold;
}

.page-header {
  border: 0px;
}

.caption {
  font-style: italic;
}

.text-muted {
    color: #faf9f6 !important;
}

.navbar-light .navbar-nav .active>.nav-link {
    background: #faf9f6;
}

.navbar-nav .nav-item>.nav-link {
    margin-left: .2em;
    margin-right: .2em;
}

.navbar-dark .navbar-nav .nav-item>.nav-link:hover, .navbar-light .navbar-nav .nav-item>.nav-link:hover {
    background: rgb(139 206 188 / 20%);
    color: white;
}
